python-dotenv
langchain
langchain_community
openai
huggingface_hub
langchain_google_genai
google-search-results
wikipedia
pypdf


chromadb
tiktoken
sentence-transformers

pinecone-client==2.2.4

faiss-cpu
weaviate-client